name: YoutubeDump

on: [push]

env: 
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: initialization environment
      id: initialization
      run: |
        sudo wget https://yt-dl.org/downloads/latest/youtube-dl -O /usr/local/bin/youtube-dl
        sudo chmod a+rx /usr/local/bin/youtube-dl
        sudo apt install -y ffmpeg
        sudo timedatectl set-timezone "$TZ"

    - name: download videos
      if: success() && !cancelled()
      run: |
        mkdir videos
        cd videos
        youtube-dl -k --merge-output-format mkv -f bestvideo[ext=webm]+bestaudio[ext=webm]/bestvideo[ext=webm]+bestaudio[ext=m4a]/bestvideo[ext=mp4]+bestaudio[ext=m4a] --write-auto-sub $(cat ../url.txt)

    - name: organize files
      if: success() && !cancelled()
      run: |
        tar -cvf videos-"$(date '+%F')".tar videos/*

    - name: Upload firmware to WeTransfer
      id: wetransfer
      if: success() && !cancelled()
      run: |
        curl -fsSL git.io/file-transfer | sh
        ./transfer wet -s -p 16 --no-progress videos-"$(date '+%F')".tar 2>&1 | tee wetransfer.log
        echo "::warning file=wetransfer.com::$(cat wetransfer.log | grep https)"
        echo "::set-output name=url::$(cat wetransfer.log | grep https | cut -f3 -d" ")"
